body {
  overflow: hidden;
  box-sizing: border-box;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  display: none;
}

.container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px;
  width: 400px;
  overflow: hidden;
}

.containerList {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 500px;
  width: 100%;
}

.listEmptyMessage {
  height: 100%;
  display: flex;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.addButton {
  border: none;
  border-radius: 4px;
  margin: 20px 0;
  padding: 10px;
  width: 300px;
  background-color: lightskyblue;
  color: white;
  font-size: 14px;
}

.addButton:hover {
  cursor: pointer;
}

.addButton:active {
    outline: none;
    border: none;
}

.addButton:focus {
    outline:0;
}

.addButton:disabled {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
}